html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #1b1b1b;
    background: #f4f4f4;
    width: 85%;
    margin: 0 auto;
}


header,
h1,
footer {
    text-align: center;
}

main img {
    width: 100%;
    
}

section {
    margin-block: 4rem;
}

h1 {
    /* color: #3480bb; */
    font-size: 5rem;
    line-height: 1;
}

h2 {
    color: #cb721c;
}

a {
    color: #2B930B;
}

a:hover,
a:focus-visible {
    color: #a7f094;
}


/* Getting started title */

h1.title {
    font-size: 3.75rem;
}

ol {
    margin-block-end: 3rem;
}

.color-offset {
    background: #087a98;
    color: #f4f4f4;
    border: 3px solid #0b4a5a;
    padding: .75rem 2rem;
}

.color-offset strong{
    color: #FFF;
}


.text-offset {
    color: #087a98;
}

.climber-bg {
    color: #fff;
    background: url(../images/simple-steps.jpg) no-repeat center;
    background-size: cover;

    padding: 1.75rem;
   
}

