html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,body {
    width: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #1b1b1b;
    background: #f4f4f4;
    /* width: 85%;
    margin: 0 auto; */
}


h1,
footer{
    text-align: center;
}

/*             NAVIGATION                  */
header {
    display: flex;
    justify-content: space-between;
}

.primary-navigation ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
 /* header img {
    /* margin-right: auto; */
/* }  */


nav ul a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/*           IMAGES           */

img {
    max-inline-size: 100%;
    display: block;
}

section {
    margin-block: 4rem;
}

h1 {
    /* color: #3480bb; */
    font-size: 5rem;
    line-height: 1;
}

h2 {
    color: #cb721c;
}

a {
    color: #2B930B;
}

a:hover,
a:focus-visible {
    color: #a7f094;
}

/* ul li::marker {
    content : '🎈';
} */

/*       LAYOUT                 */
.wrapper {
    max-inline-size: 80%;
    margin-inline: auto;
}

.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-block-end: 3rem;
}

/* .two-column-layout {
    display: flex;
    gap: 2rem; 
}

.two-column-layout div {
    flex: 1;
} */

/* .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.flex-container div {
    flex: 1;
} */

/* Getting started title */

h1.title {
    font-size: 3.75rem;
}

ol {
    margin-block-end: 3rem;
}

.color-offset {
    background: #087a98;
    color: #f4f4f4;
    border: 3px solid #0b4a5a;
    padding: .75rem 2rem;
}

.color-offset strong{
    color: #FFF;
}


.text-offset {
    color: #087a98;
}

.climber-bg {
    color: #fff;
    background: url(../images/simple-steps.jpg) no-repeat center;
    background-size: cover;

    padding: 1.75rem;
   
}

